<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3406/tasktracker</property>
        <property name="connection.username">tasktracker</property>
        <property name="connection.password">tasktracker</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="hbm2ddl.import_files">ddl.sql</property>
        <mapping class="dev.fg.dhbw.ase.tasktracker.domain.task.TaskList" />
        <mapping class="dev.fg.dhbw.ase.tasktracker.domain.task.Task" />
        <mapping class="dev.fg.dhbw.ase.tasktracker.domain.user.User" />
    </session-factory>
</hibernate-configuration>