.task {
    -fx-border-color: #5D5A88;
    -fx-border-radius: 40px;
    -fx-pref-width: 300px;
    -fx-pref-height: 60px;
}

.vertical {
    -fx-orientation: vertical;
}

#left, #center {
    -fx-border-color: #5D5A88;
    -fx-border-width: 1.5px;
}